@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary-light: #f8f9fa;
$primary-dark: #013a63;
$decor-color: #f46036;
$simple-black: #000000;

$heading-font: 'Marcellus', serif;
$paragraph-font: 'Ubuntu', sans-serif;
